{% extends 'layout.html.twig' %}

{% block title %}Se connecter{% endblock title%}

{% block body %}
	<div class="extraSmallContent">
		{% if error is defined and error is not empty %}
			<div class="alert alert-danger" role="alert">
				{{ error.messageKey|trans(error.messageData, 'security') }}
			</div>
		{% endif %}
		{{ include('flash.html.twig') }}
		<div class="card mb-5">
			<div class="card-header">
   				<h2 class="text-center">Connectez-vous !</h2>
			</div>
			<div class="card-body">
				<form action="{{ path('snowtricks_login') }}" method="post">
					<div class="form-group">
				    	<label for="username">Nom d'utilisateur :</label>
			    		<input type="text" class="form-control" id="username" name="_username" />
			    	</div>
			    	<div class="form-group">
				    	<label for="password">Mot de passe :</label>
				    	<input type="password" class="form-control" id="password" name="_password" />
				    	<em><a href="{{ path('snowtricks_resetpass') }}">Mot de passe oublié ?</a></em>
				    </div>
				    <div class="form-group">
				    	<input type="checkbox" id="remember_me" name="_remember_me" />
    					<label for="remember_me">Se souvenir de moi</label>
    				</div>
			    	<button type="submit" class="btn btn-light">Se connecter</button>
				</form>
			</div>
			<em class="text-center">Nouvel utilisateur ? <a href="{{ path('snowtricks_register') }}">Enregistrez-vous</a> !</em>
		</div>
	</div>
{% endblock %}