{% extends 'layout.html.twig' %}

{% block title %}Ajouter une figure{% endblock title%}

{% block body %}
	<div class="content">
		<div class="card">
			<div class="card-header">
   				<h2>Ajouter une nouvelle figure</h2>
			</div>
			<div class="card-body">
				{{ form_start(trickForm) }}
				{{ form_errors(trickForm) }}
				<div class="list-group-item">
                    <div class="form-group">
                    	{{ form_label(trickForm.name, 'Nom de la figure') }}
                    	{{ form_widget(trickForm.name) }}
                    </div>
                    <div class="form-group">
                    	{{ form_label(trickForm.description, 'Description de la figure') }}
                    	{{ form_widget(trickForm.description) }}
					</div>
				</div>
				<div class="list-group-item">
					<p>Ajouter un groupe à cette figure</p>
					{{ form_widget(trickForm.trickgroup) }}
				</div>
				<div class="list-group-item">
					{% form_theme trickForm.images 'jquery.collection.html.twig' %}
					<div class="addMedia btn btn-primary">Ajouter une image</div>
					{{ form_widget(trickForm.images) }}
				</div>
				{{ form_widget(trickForm.save) }}

				{{ form_rest(trickForm) }}

  				{{ form_end(trickForm) }}
			</div>
		</div>
	</div>
{% endblock body %}