<div class="card-deck">
    {% for trick in listTricks %}
        <div class="card homeTrick mb-5">
            <a href="{{ path('snowtricks_view', {'slug': trick.slug}) }}">
                {% if trick.images is empty %}
                    <img src="{{ asset('img/background.jpg') }}" alt="Figure de snowboard" />
                {% else %}  
                    <img src="{{ asset(trick.images|first.url) }}" alt="{{ trick.images|first.alt }}" />
                {% endif %}
            </a>
            <div class="card-body">
                <a href="{{ path('snowtricks_view', {'slug': trick.slug}) }}" class="card-title">{{ trick.name }}</a>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <div class="updateButtons">
                        <a href="{{ path('snowtricks_update', {'slug': trick.slug}) }}"><i class="fa fa-pencil-square-o fa-fw"></i></a>
                        <a data-toggle="modal" data-target="#deleteConfirmation{{ trick.id }}"><i class="fa fa-trash fa-fw"></i></a>
                    </div>
                {% endif %}
            </div>
            <!-- MODAL DELETE CONFIRM -->
            <div class="modal fade" id="deleteConfirmation{{ trick.id }}" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="myModalLabel">Confirmation</h3>
                        </div>
                        <div class="modal-body">
                            <p>Confirmez vous la suppression de cette figure et de ses messages ?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                            <a class="btn btn-danger" href="{{ path('snowtricks_delete', {'id': trick.id}) }}">Supprimer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span></span>
    {% endfor %}
</div>