{% extends 'tricks/add.html.twig' %}

{% block cardHeader %}
    <h2 class="text-center"><a href="{{ path('snowtricks_view', {'slug': trick.slug}) }}">{{ trick.name|upper }}</a></h2>
{% endblock %}

{% block updateImage %}
    {% if trick.images is not empty %}
        <div class="row justify-content-end">
            <div class="col-sm-8">
                <div class="row">
                    {% for image in trick.images %}
                        <div class="col-sm-3 col-xs-6 updateImage">
                            <img src="{{ asset(image.url) }}" alt="">
                            <a href="{{ path('snowtricks_image_remove', {'id': image.id}) }}"><em>Supprimer cette image</em></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block return %}
    <a id="return" href="{{ path('snowtricks_view', {'slug': trick.slug}) }}" class="btn btn-light">
        <i class="fa fa-chevron-left" aria-hidden="true"></i> Retour à la figure
    </a>
{% endblock %}

{% block delete %}
    <a id="delete" class="btn btn-light deleteButton" data-toggle="modal" data-target="#deleteConfirmation">
        <i class="fa fa-trash-o" aria-hidden="true"></i> Supprimer cette figure
    </a>
    <!-- MODAL DELETE CONFIRM -->
    <div class="modal fade" id="deleteConfirmation" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel">Confirmation</h3>
                </div>
                <div class="modal-body">
                    <p>Confirmez vous la suppression de cette figure et de ses messages ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <a class="btn btn-danger" href="{{ path('snowtricks_delete', {'id': trick.id}) }}">Supprimer</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
